.footer {
  background-color: $brown-bg;
  color: $white-bg;
  min-height: 64px;
  display: flex;
  align-items: center;

  &__copyright {
    @include font(700, 14, 20);
    margin: 0 0 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    min-height: 104px;

    &__copyright {
      @include font(700, 15, 24);
      margin-left: 40px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    min-height: 124px;

    &__copyright {
      margin-left: 50px;
    }
  }
}