.wheel-excavator {
  padding: $padding-section;
  background-color: $gray-bg;

  &__item {
    @include font(400, 14, 18);

    &:not(:last-child) {
      padding-bottom: 14px;
      margin-bottom: 14px;
      border-bottom: 1px solid #000000;
    }
  }

  &__items {
    list-style-type: none;
    margin: 50px 0 0 0;
    padding: 0;
  }

  &__text {
    @include font(400, 14, 18);

    &:not(:last-of-type) {
      margin: 30px 2px;
    }

    &:last-of-type {
      margin: 0px 2px 30px 2px;
    }
  }

  &__title {
    @include font(400, 30, 38);
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .wheel-excavator {
    padding: $padding-section-tablet;

    &__item {
      @include font(400, 18, 28);

      &:not(:last-child) {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #000000;
      }
    }

    &__text {
      max-width: 400px;
      @include font(400, 18, 28);

      &:not(:last-of-type) {
        margin: 0px 4px 20px 4px;
      }

      &:last-of-type {
        margin: 0px 4px 60px 4px;
      }
    }

    &__title {
      @include font(400, 64, 64);
      max-width: 600px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .wheel-excavator {
    padding: $padding-section-desktop;
    @include grid;

    &__item {
      &:not(:last-child) {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }
    }

    &__items {
      grid-column: 1/3;
      @include grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 56px;
      margin-top: 100px;
    }

    &__text {
      &:last-of-type {
        margin-bottom: 198px;
      }
    }

    &__title {
      margin-bottom: 100px;
    }
  }
}