.backhoe-loader {
  padding: $padding-section;

  &__text {
    @include font(400, 18, 22);
    margin: 30px 2px;
  }
  
  &__title {
    @include font(400, 32, 38);
    margin: 0;
  }  
}

@media screen and (min-width: 768px) {
  .backhoe-loader {
    padding: $padding-section-tablet;

    &__text {
      @include font(400, 20, 28);
      max-width: 380px;
      margin: 40px 4px;
    }

    &__title {
      @include font(400, 64, 64);
    }
  }
}

@media screen and (min-width: 1440px) {
  .backhoe-loader {
    padding: $padding-section-desktop;
    @include grid;
    column-gap: 318px;

    &__text {
      margin-top: 24px;
      margin-bottom: 148px;
      grid-column: 2;
      grid-row: 3;
    }

    &__title  {
      grid-column: 1;
      grid-row: 2;
      margin-bottom: 106PX;
    }
  }
}
