.rental-excavator {
  padding: 14px 20px 20px 20px;

  &__text {
    @include font(400, 18, 22);
    margin: 30px 2px;
  }

  &__title {
    @include font(400, 47, 56);
    margin: 0;
  }

  &__number {
    @include font(400, 18, 22);
    color: inherit;
    text-decoration: none;
    margin-left: 20px;

    &:active {
      font-weight: 900;
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 344px) {
  .rental-excavator {
    &__title {
      font-size: 43px;
    }
  }
}

@media screen and (min-width: 768px) {
  .rental-excavator {
    padding: $padding-section-tablet;

    &__text {
      @include font(400, 20, 28);
      margin-bottom: 60px;
      max-width: 469px;
    }

    &__title {
      @include font(400, 80, 80);
    }

    &__number {
      @include font(400, 20, 28);

      &:hover {
        font-weight: 900;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .rental-excavator {
    padding: $padding-section-desktop;
    @include grid;

    &__text {
      @include font(400, 24, 34);
      max-width: 500px;
      margin-bottom: 100px;
    }

    &__number {
      @include font(400, 24, 34);
    }

    &__title {
      @include font(400, 90, 90);
      margin-bottom: 30px;
    }
  }
}