.image {
  cursor: pointer;
  max-width: 100%;
  box-sizing: border-box;
  max-height: 278px;
  object-fit: cover;
  margin: 30px auto 5px auto;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .image {
    padding: 0;
    width: 688px;
    max-height: 685px;
    margin: 40px 0 10px 0;

    &_place_characteristics {
      width: 400px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .image {
    width: 642px;
    max-height: 832px;
    margin: 0;
    grid-column: 2;
    grid-row: 1/5;
    align-self: center;
  }
}