.image {
  max-width: 100%;
  box-sizing: border-box;
  max-height: 278px;
  object-fit: cover;
  margin: 30px auto 5px auto;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .image {
    padding: 0;
    width: 688px;
    max-height: 685px;
    margin: 40px 0 10px 0;

    &_place_crawler-excavator {
      max-height: 656px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .image {
    width: 642px;
    max-height: 832px;
    margin: 0;
    grid-column: 2;
    grid-row: 1/5;

    &_place_crawler-excavator {
      max-height: 832px;
    }

    &_place_wheel-excavator {
      grid-row: 1/6;
    }

    &_place_order-search {
      grid-column: 1;
      grid-row: 3/6;
    }
  }
}