.image {
  width: 280px;
  max-height: 278px;
  object-fit: cover;
  margin: 60px 0 56px 0;
  object-position: top;
}

@media screen and (min-width: 768px) {
  .image {
    width: 688px;
    max-height: 685px;
    margin: 60px 0 54px 0;

    &_place_camera {
      max-height: 656px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .image {
    width: 642px;
    max-height: 832px;
    margin: 0;
    grid-column: 2;
    grid-row: 1/5;

    &_place_camera {
      max-height: 832px;
    }

    &_place_composition {
      grid-row: 1/6;
    }

    &_place_order-search {
      grid-column: 1;
      grid-row: 3/6;
    }
  }
}