$brown-bg: #CB8A58;
$white-bg: #ffffff;
$gray-bg: #5e450630;
$black-bg: #282121f7;

$font-family: "Roboto", "Arial", sans-serif;

$white-font: #fbfbfb;
$black-font: #000000;

$padding-section: 40px 20px 20px 20px;
$padding-section-tablet: 40px;
$padding-section-desktop: 50px 50px 48px 50px;

$header-min-height-mobile: 70px;
$header-min-height-tablet: 84px;
